@page "/bookings"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FSDProject1.Domain
@using FSDProject1.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FSDProject1.Data.FSDProject1Context> DbFactory

@attribute [Authorize(Roles = "Administrator, User")]
<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="bookings/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Booking">
    <PropertyColumn Property="booking => booking.Date" />
    <PropertyColumn Property="booking => booking.Time" />
    <PropertyColumn Property="booking => booking.Status" />
    <PropertyColumn Property="booking => booking.DateCreated" />
    <PropertyColumn Property="booking => booking.DateUpdated" />
    <PropertyColumn Property="booking => booking.CreatedBy" />
    <PropertyColumn Property="booking => booking.UpdatedBy" />
    <PropertyColumn Property="booking => booking.StudentUserId" />
    <PropertyColumn Property="booking => booking.TutorID" />

    <TemplateColumn Context="booking">
        <a href="@($"bookings/edit?bookingid={booking.BookingID}")">Edit</a> |
        <a href="@($"bookings/details?bookingid={booking.BookingID}")">Details</a> |
        <a href="@($"bookings/delete?bookingid={booking.BookingID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private FSDProject1Context context = default!;

    protected override async Task OnInitializedAsync()
    {
        context = await DbFactory.CreateDbContextAsync();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}