@page "/studentusers/create"
@using Microsoft.EntityFrameworkCore
@using FSDProject1.Domain
@inject IDbContextFactory<FSDProject1.Data.FSDProject1Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>StudentUser</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="StudentUser" OnValidSubmit="AddStudentUser" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="StudentUser.Name" class="form-control" /> 
                <ValidationMessage For="() => StudentUser.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label> 
                <InputText id="email" @bind-Value="StudentUser.Email" class="form-control" /> 
                <ValidationMessage For="() => StudentUser.Email" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="age" class="form-label">Age:</label> 
                <InputNumber id="age" @bind-Value="StudentUser.Age" class="form-control" /> 
                <ValidationMessage For="() => StudentUser.Age" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="StudentUser.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => StudentUser.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="StudentUser.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => StudentUser.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="StudentUser.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => StudentUser.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="StudentUser.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => StudentUser.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/studentusers">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private StudentUser StudentUser { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddStudentUser()
    {
        using var context = DbFactory.CreateDbContext();
        context.StudentUser.Add(StudentUser);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/studentusers");
    }
}
