@page "/reviews/edit"
@using Microsoft.EntityFrameworkCore
@using FSDProject1.Domain
@inject IDbContextFactory<FSDProject1.Data.FSDProject1Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Reviews</h2>
<hr />
@if (Reviews is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Reviews" OnValidSubmit="UpdateReviews" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Reviews.ReviewsId" value="@Reviews.ReviewsId" />
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating:</label>
                    <InputText id="rating" @bind-Value="Reviews.Rating" class="form-control" />
                    <ValidationMessage For="() => Reviews.Rating" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="comments" class="form-label">Comments:</label>
                    <InputText id="comments" @bind-Value="Reviews.Comments" class="form-control" />
                    <ValidationMessage For="() => Reviews.Comments" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Reviews.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Reviews.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Reviews.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Reviews.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Reviews.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Reviews.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Reviews.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Reviews.UpdatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="bookingid" class="form-label">BookingId:</label>
                    <InputNumber id="bookingid" @bind-Value="Reviews.BookingId" class="form-control" />
                    <ValidationMessage For="() => Reviews.BookingId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/reviews">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private string ReviewsId { get; set; }

    [SupplyParameterFromForm]
    private Reviews? Reviews { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Reviews ??= await context.Reviews.FirstOrDefaultAsync(m => m.ReviewsId == ReviewsId);

        if (Reviews is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateReviews()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Reviews!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ReviewsExists(Reviews!.ReviewsId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/reviews");
    }

    private bool ReviewsExists(string reviewsid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Reviews.Any(e => e.ReviewsId == reviewsid);
    }
}
