@inherits LayoutComponentBase
@inject NavigationManager NavManager

@if (!NavManager.Uri.Contains("login", StringComparison.OrdinalIgnoreCase))
{
    <NavMenu />
}

<div class="main-content">
    <article class="content px-4">
        @Body
    </article>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<style>
    .main-content {
        margin-top: 0;
        min-height: calc(100vh - 140px);
    }

    .content {
        padding-top: 1.1rem;
    }

    #blazor-error-ui {
        background: lightyellow;
        bottom: 0;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        display: none;
        left: 0;
        padding: 0.6rem 1.25rem 0.7rem 1.25rem;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

        #blazor-error-ui .dismiss {
            cursor: pointer;
            position: absolute;
            right: 0.75rem;
            top: 0.5rem;
        }
</style>
